PRIVATE_KEY=your_private_key_here

RPC_URL_ETHEREUM_PRIMARY=your_rpc_url_here
RPC_URL_ETHEREUM_FALLBACK=your_rpc_url_here

RPC_URL_ARBITRUM_PRIMARY=your_rpc_url_here
RPC_URL_ARBITRUM_FALLBACK=your_rpc_url_here

RPC_URL_OPTIMISM_PRIMARY=your_rpc_url_here
RPC_URL_OPTIMISM_FALLBACK=your_rpc_url_here

RPC_URL_BASE_PRIMARY=your_rpc_url_here
RPC_URL_BASE_FALLBACK=your_rpc_url_here

RPC_URL_POLYGON_PRIMARY=your_rpc_url_here
RPC_URL_POLYGON_FALLBACK=your_rpc_url_here